@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

@theme {
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

/* Custom utility for clean scrollbars */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}